.man{

	float: left;
	margin: 1px;
	padding: 15px;
	width: 500px;
	height: 500px;
	border: 1px solid #5da4e5;
	position: relative;
	left: 560px;
	top: 80px;
	border-radius:25px;
	
}

.man{
	background-color: #1E90FF;
}

 .man_top{
	text-align: center;
	background-color: #1E90FF;
	color: #FFFFFF;

}

.info b{
	font-size: 16px;
	color: #333333;
}

.info {
	font-size: 14px;
	color: #1E90FF;
	position: relative;
	margin: -25px;
	top: 230px;
}

.man_content{ 
	position: absolute;
	left: 1px;
	width: 99.7%;
	height: 77%;
	margin: -1px;
	padding: 1px;
	background-color: #FFFFFF;

}

.customNum{
	display: none;
}
